{% extends 'base.html' %}
{% load static %}

{% block content %}
    <header class="header-nosotros">
        <div class="tit-nosotros">
            <h2>Sobre Nosotros</h2>
        </div>
        <div class="flex-content">
            <div class="img-nosotros">
                <div>
                    <img src="{% static 'images/iglesia-icare.jpeg' %}" alt="Iglesia">
                </div>
            </div>
            <div class="text-nosotros">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel quo obcaecati assumenda doloribus optio iure aliquam magnam tempore odit, alias rem numquam exercitationem officiis voluptatibus commodi et. Dolore voluptatibus recusandae, sint ratione inventore delectus et repudiandae placeat officiis omnis. Illum natus similique laborum unde ipsum, maiores placeat nesciunt ab neque perspiciatis suscipit inventore voluptatem. Velit repudiandae dolores cumque quaerat quas rerum iusto, quasi molestias quos perferendis. Veniam esse eos maxime vitae quod? Itaque error iste at dolorum cumque animi veritatis.</p>
            </div>
        </div>
    </header>
{% endblock %}