{% extends 'base.html' %}
{% load static %}

{% block content %}
    <header class="header-us">
        <div class="capa-us">
            <div class="content-us">
                <div class="img-us">
                    <img src="{% static 'images/nosotros-1.jpg' %}" alt="Img Nosotros">
                </div>
                <div class="text-us">
                    <h2>Sobre Nosotros</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis sunt consequuntur eos minima quod culpa cupiditate veniam, pariatur nostrum dicta nesciunt sint unde magnam ratione?</p>
                </div>
            </div>
        </div>
    </header>

    <div class="tit-us">
        <h1>Iglesia Cristiana Autónoma Roca Eterna</h1>
    </div>

    <!-- Seccion 1 -->
    <section class="seccion-nosotros">
        <div class="capa-nosotros"></div>
        <div class="content-img-us">
            <img src="{% static 'images/nosotros-4.jpg' %}" alt="Nosotros">
        </div>
        <div class="content-text-us">
            <div class="text-us-1">
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Est, reiciendis. Autem dolorem laudantium possimus saepe expedita distinctio asperiores ipsum doloribus, nostrum ea sint eveniet reprehenderit suscipit pariatur voluptatum optio ipsa?</p>
            </div>
        </div>
    </section>

    <!-- Seccion 2 -->
    <section class="seccion-nosotros-2">
        <figure>
            <aside>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta laudantium tempora adipisci iure illum quidem sunt quasi quos quam totam vel dolorum quod ab saepe perspiciatis earum quia, enim dolore!</p>
            </aside>
        </figure>
        <figure>
            <aside>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta laudantium tempora adipisci iure illum quidem sunt quasi quos quam totam vel dolorum quod ab saepe perspiciatis earum quia, enim dolore!</p>
            </aside>
        </figure>
    </section>

    <!-- Seccion 3 -->
    <section class="seccion-nosotros-3">
        <div class="text-us-2">
            <div>
                <h2>Titulo</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere tenetur nemo amet reprehenderit molestiae, corporis a quos vel provident repellat vitae qui sequi illo iure distinctio animi quisquam eum mollitia.</p>
            </div>
        </div>
        <div class="content-text-us-3">
            <div class="text-us-3">
                <h3>Titulo</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minus corrupti doloremque nisi labore ea unde alias accusamus molestias? Quod debitis provident nisi fuga corrupti optio blanditiis unde. Doloribus, alias aliquid.</p>
            </div>
            <div class="text-us-4">
                <h3>Titulo</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minus corrupti doloremque nisi labore ea unde alias accusamus molestias? Quod debitis provident nisi fuga corrupti optio blanditiis unde. Doloribus, alias aliquid.</p>
            </div>
        </div>
    </section>

    <!-- Seccion 4 -->
    <section class="seccion-us-4">
        <div class="img-us-4">
            <img src="{% static 'images/logoIcare.jpg' %}" alt="Logo">
        </div>
        <div class="text-us-5">
            <h2>Nuestro Logo</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, quae sapiente expedita fuga beatae id repellat nulla, est dolorem perferendis consequatur quisquam nihil aliquam earum, ratione labore repudiandae autem iste?</p>
        </div>
    </section>

    <!-- Seccion 5 -->
    <section class="seccion-us-5">
        <div class="content-us-5">
            <h2>Titulo</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illo necessitatibus vel, ipsa iure nesciunt autem deleniti cum explicabo! In dolore recusandae inventore atque dolores molestias rerum vero expedita reiciendis unde?</p>
        </div>
    </section>
{% endblock %}