.container {
    position: relative;
    top: 0;
    left: 78px;
    width: calc(100% - 78px);
    z-index: 2;
}

@media (max-width:370px)  {
    .container {
        left: 58px;
        width: calc(100% - 58px);
    }
}
