/* Header para Dominicales */
.header-dom {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.header-dom::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, #fff, transparent); 
    z-index: 10;
}

.header-dom img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}

.header-dom img:nth-child(3) {
    width: 200px!important;
    height: 200px!important;
    object-fit: contain;
}

.header-dom #biblia {
    z-index: 2;
}

.header-dom #tit-dom {
    position: relative;
    color: #000;
    font-size: 140px;
    margin-top: 150px;
    z-index: 1;
}

/* Dominicales */
.seccion-dom-dia {
    position: relative;
    width: 100%;
    height: auto;
    min-height: 400px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.seccion-dom-dia .tit-dia {
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    border-bottom: 2px solid #000;
}

.seccion-dom-dia .tit-dia h2 {
    font-size: 60px;
    padding: 20px;
}

.seccion-dom-dia .card-dom-dia {
    width: 100%;
    height: 70%;
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.seccion-dom-dia .card-dom-dia .card-item-dom {
    position: relative;
    width: 650px;
    height: 200px;
    margin: 10px;
    background-color: #000;
    overflow: hidden;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.seccion-dom-dia .card-dom-dia .card-item-dom .img-dom {
    width: 25%;
    height: 100%;
}

.seccion-dom-dia .card-dom-dia .card-item-dom .img-dom img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: cover;
}

.seccion-dom-dia .card-dom-dia .card-item-dom .info-dom {
    width: 75%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.seccion-dom-dia .card-dom-dia .card-item-dom .info-dom .datos-card {
    width: 100%;
    height: 40%;
    padding-left: 20px;
}

.seccion-dom-dia .card-dom-dia .card-item-dom .info-dom .datos-card h2 {
    color: #fff;
    font-size: 30px;
}

.seccion-dom-dia .card-dom-dia .card-item-dom .info-dom .datos-card small {
    color: #fff;
}

.seccion-dom-dia .card-dom-dia .card-item-dom .info-dom .descarga-dom {
    width: 100%;
    height: 60%;
    padding-left: 20px;
    /* margin-top: 20px; */
    display: flex;
    align-items: center;
}

.seccion-dom-dia .card-dom-dia .card-item-dom .info-dom .descarga-dom a {
    padding: 10px;
    text-decoration: none;
    color: red;
    border: 2px solid red;
    border-radius: 15px;
    transition: .5s all ease;
}

.seccion-dom-dia .card-dom-dia .card-item-dom .info-dom .descarga-dom a:hover {
    color: #fff;
    background-color: red;
}

.seccion-dom-dia .card-dom-dia .card-item-dom .info-dom .descarga-dom audio {
    padding-left: 20px;
}

.seccion-dom-dia .todas-dom a {
    float: right;
    padding-right: 30px;
}


/* Responsive */
@media (max-width: 991px) {   
    /* Header  */
    .header-dom::before {
        height: 80px;
    }
    
    
    .header-dom img:nth-child(3) {
        width: 150px!important;
        height:150px!important;
    }
    
    .header-dom #tit-dom {
        font-size: 80px;
        margin-top: 180px;
    }

    /* Dominicales */
    .seccion-dom-dia .tit-dia {
        justify-content: center;
    }

    .seccion-dom-dia .card-dom-dia .card-item-dom .img-dom {
        width: 30%;
    }

    .seccion-dom-dia .card-dom-dia .card-item-dom .info-dom {
        width: 70%;
    }

    .seccion-dom-dia .card-dom-dia .card-item-dom .info-dom .datos-card {
        padding-left: 15px;
    }

    .seccion-dom-dia .card-dom-dia .card-item-dom .info-dom .datos-card h2 {
        font-size: 25px;
    }

    .seccion-dom-dia .card-dom-dia .card-item-dom .info-dom .descarga-dom {
        padding-left: 15px;
        margin-top: 5px;
    }

    .seccion-dom-dia .card-dom-dia .card-item-dom .info-dom .descarga-dom a {
        font-size: 14px;
        text-align: center;
    }

    .seccion-dom-dia .card-dom-dia .card-item-dom .info-dom .descarga-dom audio {
        padding-left: 10px;
    }
}

@media (max-width: 640px) {
    /* Header */
    .header-dom::before {
        height: 100px;
    }
    
    
    .header-dom img:nth-child(3) {
        width: 120px!important;
        height:120px!important;
    }
    
    .header-dom #tit-dom {
        font-size: 45px;
    }

    /* Dominicales */
    .seccion-dom-dia {
        margin-top: 10px;
    }

    .seccion-dom-dia .tit-dia h2 {
        font-size: 40px;
        padding: 10px;
        text-align: center;
    }

    .seccion-dom-dia .card-dom-dia {
        padding: 0;
    }

    .seccion-dom-dia .card-dom-dia .card-item-dom {
        width: 100%;
        height: auto;
        flex-direction: column;
    }

    .seccion-dom-dia .card-dom-dia .card-item-dom .img-dom {
        width: 100%;
        height: 200px;
    }

    .seccion-dom-dia .card-dom-dia .card-item-dom .info-dom {
        width: 100%;
        height: 200px;
    }

    .seccion-dom-dia .card-dom-dia .card-item-dom .info-dom .datos-card {
        padding-left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 50%;
    }

    .seccion-dom-dia .card-dom-dia .card-item-dom .info-dom .datos-card h2 {
        margin-top: 10px;
        text-align: center;
        font-size: 24px;
    }

    .seccion-dom-dia .card-dom-dia .card-item-dom .info-dom .datos-card small {
        font-size: 14px;
    }

    .seccion-dom-dia .card-dom-dia .card-item-dom .info-dom .descarga-dom {
        padding-left: 0;
        flex-direction: column;
        height: 50%;
    }

    .seccion-dom-dia .card-dom-dia .card-item-dom .info-dom .descarga-dom audio {
        margin-top: 10px;
        width: 100%;
        padding-left: 0;
    }

    .seccion-dom-dia .todas-dom a {
        padding-right: 15px;
    }
}

@media (max-width:370px) {
    /* Header */
    .header-dom #tit-dom {
        font-size: 34px;
    }

    /* Dominicales */
    .seccion-dom-dia {
        min-height: 300px;
    }

    .seccion-dom-dia .tit-dia h2 {
        font-size: 30px;
        padding: 5px;
    }

    .seccion-dom-dia .card-dom-dia .card-item-dom .img-dom {
        height: 150px;
    }

    .seccion-dom-dia .card-dom-dia .card-item-dom .info-dom {
        height: 150px;
    }
    
    .seccion-dom-dia .card-dom-dia .card-item-dom .info-dom .datos-card h2 {
        margin-top: 5px;
        font-size: 16px;
    }

    .seccion-dom-dia .card-dom-dia .card-item-dom .info-dom .datos-card small {
        font-size: 10px;
    }

    .seccion-dom-dia .card-dom-dia .card-item-dom .info-dom .descarga-dom {
        margin-top: 0;
    }

    .seccion-dom-dia .card-dom-dia .card-item-dom .info-dom .descarga-dom a {
        padding: 7px;
        font-size: 12px;
    }

    .seccion-dom-dia .card-dom-dia .card-item-dom .info-dom .descarga-dom audio {
        height: 40px;
    }
}