{% load static %}

<div class="sidebar">

    <div class="logo-details">
        <img src="{% static 'images/logoIcare.jpg' %}" class="icon" alt="Logo">
        <div class="logo_name">ICARE</div>
        <i class="bx bx-menu" id="btn"></i>
    </div>

    <ul class="nav-list">
        <li>
            <a href="{% url 'home' %}">
                <i class="bx bx-home-alt"></i>
                <span class="links_name">Inicio</span>
            </a>
            <span class="tooltip">Inicio</span>
        </li>

        <li>
            <a href="{% url 'nosotros' %}">
                <i class="bx bx-church"></i>
                <span class="links_name">Nosotros</span>
            </a>
            <span class="tooltip">Nosotros</span>
        </li>

        <li>
            <a href="{% url 'galeria' %}">
                <i class="bx bx-image-alt"></i>
                <span class="links_name">Galeria</span>
            </a>
            <span class="tooltip">Galeria</span>
        </li>

        <li>
            <a href="{% url 'eventos' %}">
                <i class="bx bx-calendar-event"></i>
                <span class="links_name">Eventos</span>
            </a>
            <span class="tooltip">Eventos</span>
        </li>

        <li>
            <a href="#">
                <i class="bx bx-book-open"></i>
                <span class="links_name">Dominicales</span>
            </a>
            <span class="tooltip">Dominicales</span>
        </li>

        <li>
            <a href="#">
                <i class="bx bx-edit-alt"></i>
                <span class="links_name">Estudios Biblicos</span>
            </a>
            <span class="tooltip">Estudios Biblicos</span>
        </li>

        <li>
            <a href="{% url 'niños' %}">
                <i class="bx bx-face"></i>
                <span class="links_name">Iglesia Infantil</span>
            </a>
            <span class="tooltip">Iglesia Infantil</span>
        </li>

        <li>
            <a href="{% url 'contacto' %}">
                <i class="bx bx-map"></i>
                <span class="links_name">Contacto</span>
            </a>
            <span class="tooltip">Contacto</span>
        </li>

        <li class="profile">
            <div class="profile-details">
                <img src="{% static 'images/floresicare.jpg' %}" alt="profileImg" />
                <div class="name_job">
                    <div class="name">Josy Cano</div>
                    <div class="job">Miembro ICARE</div>
                </div>
            </div>
            <i class="bx bx-log-out" id="log_out"></i>
        </li>

    </ul>
</div>

<script>
    let sidebar = document.querySelector(".sidebar");
    let closeBtn = document.querySelector("#btn");
    let searchBtn = document.querySelector(".bx-search");

    closeBtn.addEventListener("click", ()=>{
        sidebar.classList.toggle("open");
        menuBtnChange();
    });

    searchBtn.addEventListener("click", ()=>{ 
        sidebar.classList.toggle("open");
        menuBtnChange(); 
    });

    function menuBtnChange() {
        if(sidebar.classList.contains("open")){
        closeBtn.classList.replace("bx-menu", "bx-menu-alt-right");
        }
        else {
        closeBtn.classList.replace("bx-menu-alt-right","bx-menu");
        }
    }
</script>