{% load static %}

<div class="sidebar">

    <div class="logo-details">
        <img src="{% static 'images/logoIcare.jpg' %}" class="icon" alt="Logo">
        <div class="logo_name">ICARE</div>
        <i class="bx bx-menu" id="btn"></i>
    </div>

    <ul class="nav-list">
        <li>
            <a href="{% url 'home' %}">
                <i class="bx bx-home-alt"></i>
                <span class="links_name">Inicio</span>
            </a>
            <span class="tooltip">Inicio</span>
        </li>

        <li>
            <a href="{% url 'nosotros' %}">
                <i class="bx bx-church"></i>
                <span class="links_name">Nosotros</span>
            </a>
            <span class="tooltip">Nosotros</span>
        </li>

        <li>
            <a href="{% url 'galeria' %}">
                <i class="bx bx-image-alt"></i>
                <span class="links_name">Galeria</span>
            </a>
            <span class="tooltip">Galeria</span>
        </li>

        <li>
            <a href="{% url 'eventos' %}">
                <i class="bx bx-calendar-event"></i>
                <span class="links_name">Eventos</span>
            </a>
            <span class="tooltip">Eventos</span>
        </li>

        <li>
            <a href="{% url 'dominicales' %}">
                <i class="bx bx-book-open"></i>
                <span class="links_name">Devocionales</span>
            </a>
            <span class="tooltip">Devocionales</span>
        </li>

        <li>
            <a href="{% url 'vivo' %}">
                <i class="bx bx-play-circle"></i>
                <span class="links_name">En Vivo</span>
            </a>
            <span class="tooltip">En Vivo</span>
        </li>

        <li>
            <a href="{% url 'niños' %}">
                <i class="bx bx-face"></i>
                <span class="links_name">Iglesia Infantil</span>
            </a>
            <span class="tooltip">Iglesia Infantil</span>
        </li>

        <li>
            <a href="{% url 'contacto' %}">
                <i class="bx bx-map"></i>
                <span class="links_name">Contacto</span>
            </a>
            <span class="tooltip">Contacto</span>
        </li>

    </ul>
</div>

<script>
    let sidebar = document.querySelector(".sidebar");
    let closeBtn = document.querySelector("#btn");
    let searchBtn = document.querySelector(".bx-search");

    closeBtn.addEventListener("click", ()=>{
        sidebar.classList.toggle("open");
        menuBtnChange();
    });

    searchBtn.addEventListener("click", ()=>{ 
        sidebar.classList.toggle("open");
        menuBtnChange(); 
    });

    function menuBtnChange() {
        if(sidebar.classList.contains("open")){
        closeBtn.classList.replace("bx-menu", "bx-x");
        }
        else {
        closeBtn.classList.replace("bx-x","bx-menu");
        }
    }
</script>