{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}" />
    <link rel="stylesheet" href="{% static 'css/footer.css' %}" />
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    <link rel="stylesheet" href="{% static 'css/home.css' %}" />
    <link rel="stylesheet" href="{% static 'css/nosotros.css' %}" />
    <link rel="stylesheet" href="{% static 'css/galeria.css' %}" />
    <link rel="stylesheet" href="{% static 'css/eventos.css' %}" />
    <link rel="stylesheet" href="{% static 'css/dominicales.css' %}" />
    <link rel="stylesheet" href="{% static 'css/vivo.css' %}" />
    <link rel="stylesheet" href="{% static 'css/niños.css' %}" />
    <link rel="stylesheet" href="{% static 'css/contacto.css' %}" />

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="../static/images/faviconIcare.ico">

    <!-- Swiper JS -->
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />

    <!-- Link Iconos -->
    <link href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css" rel="stylesheet" />

    <!-- Font Awesome -->
	<script src="https://kit.fontawesome.com/906c5a8b2a.js" crossorigin="anonymous"></script>
	<!-- Font Awesome -->
	<script src="https://kit.fontawesome.com/2c36e9b7b1.js" crossorigin="anonymous"></script>

    <!-- Animate CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
    
    <title>ICARE</title>
</head>

<body>
    
    {% include 'includes/navbar.html' %}
    
    <div class="container">
        {% block content %}

        {% endblock %}
    </div>

    {% include 'includes/footer.html' %}

</body>
</html>